- title 'Manifest'
%p
  Find releases.
%form.form-inline{"accept-charset" => "UTF-8", :action => "/", :method => "get"}
  %input{:name => "preview", :type => "hidden", :value => "true"}/
  .form-group
    %label.control-label.sr-only{:for => "q"} Search for deployed tickets:
    %input#jira_key.form-control{:name => "q", :placeholder => "keywords in ticket description", :required => "required", :style => "width:700px;", :type => "text", :value => @query}/
  %input.btn.btn-primary{:type => "submit", :value => "Search"}/

- if @query
  - if @tickets.any?
    %h2= "Results for '#{@query}'"
  -else
    %h2= "No results for '#{@query}' :/"
  - @tickets.in_groups_of(3) do | tickets_row |
    .row
      - tickets_row.compact.each do | ticket |
        .col-md-4
          .panel.panel-default.result
            .panel-heading.summary
              = jira_link(ticket.key)
              %strong= ticket.summary
            .panel-body
              = simple_format(truncate(ticket.description, length: 250, seperator: ' '), class: 'description')
              %p
              - if !ticket.deploys.empty?
                %br
                %h2 Deploys
              - ticket.deploys.each do |deploy|
                %p.deploy
                  = flag_icon(deploy['region'].to_sym)
                  = "#{deploy['deployed_at']} #{deploy['app']}"
                  = commit_link(deploy['version'], deploy['github_url'])
