- title 'Manifest'
%p
  Find releases.
%form.form-inline{"accept-charset" => "UTF-8", :action => "/", :method => "get"}
  %input{:name => "preview", :type => "hidden", :value => "true"}/
  .form-group
    %label.control-label.sr-only{:for => "q"} Search for deployed tickets:
    %input#jira_key.form-control{:name => "q", :placeholder => "keywords in ticket description", :required => "required", :style => "width:700px;", :type => "text", :value => @query}/
  %input.btn.btn-primary{:type => "submit", :value => "Search"}/

%h2= "Results for '#{@query}'"
- @tickets.in_groups_of(3) do | tickets_row |
  .row
    - tickets_row.compact.each do | ticket |
      .col-md-4
        .panel.panel-default.result
          .panel-heading.summary= ticket.summary
          .panel-body
            = simple_format(ticket.description, class: 'description')
            %p
            %p.key
              %a{:href => "#"}= ticket.key
